body, html {
  height: 100%;
}

div .button{
	margin:5px;
	padding:5px;
	border-radius: 5px;
	background-color:#DDD;
}

.button:focused { background-color:#AAA; }
.button:hover { background-color:#CCC; }
.button:active { background-color:white; }

div.inline{
	display:inline-block;
	vertical-align: top;
}

div#info{
	width:50%;
	margin-left:20px;
}

div#photo{
	width:40%;
	height:80%;
}

div#photo img{
	max-width:100%;
	max-height:100%;
}

div#photo video{
	max-width:100%;
}

#personsPanel{
	max-height:200px;
	overflow-y:scroll;
}

.present{
	background-color: yellow;
}